body{
font-family: Arial;
margin:0;
padding:0;
}

header{
background:#0077ff;
color:white;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:60px;
background:#f4f4f4;
}

.btn{
background:#0077ff;
color:white;
padding:10px 20px;
text-decoration:none;
}

.features{
display:flex;
justify-content:space-around;
padding:40px;
}

.feature-box{
width:250px;
}

.pricing-box{
text-align:center;
padding:40px;
}

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
margin-top:40px;
}